@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");

.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  padding: 30px 0px 50px 0px;
  font-family: "Times New Roman", Times, serif;
}

.status_column {
  margin-right: 20px;
}

.save_status {
  color: grey;
}

.logo_title {
  margin: 0px;
  font-family: "Kelly Slab", cursive;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  color: hsl(195, 21%, 30%);
}

.form {
  width: 50%;
}

.form_header {
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.form_header input {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  outline: none;
  border: 0;
  font-weight: normal;
  margin-bottom: 0px;
  color: hsl(213, 90%, 20%);
}

.form_header p {
  font-size: 20px;
  margin-bottom: 0px;
  color: hsl(195, 21%, 30%);
}

.flex_baseline {
  display: flex;
  align-items: baseline;
}

.form_row {
  width: 100%;
  display: flex;
  margin: 30px 0px;
}

.form_question {
  width: 40%;
  margin-right: 30px;
  color: hsl(213, 90%, 20%);
}

.form_question ul {
  list-style-position: inside;
  padding: 0px;
  font-size: 16px;
  font-style: italic;
  margin: 0px;
}

.form_question h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.form_answer {
  width: 60%;
  padding: 5px 10px 5px 5px;
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: hsl(213, 90%, 20%);
  height: 150px;
}

.submit_form {
  width: 10%;
  margin-left: 30px;
}

.submit_form input {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  outline: none;
  border: 0;
  font-weight: normal;
  margin-bottom: 0px;
  color: hsl(213, 90%, 20%);
}

.submit_form p {
  margin: 0;
  font-size: 12px;
}

.submit_form img {
  margin-top: 20px;
}

.submit_form img:hover {
  transform: scale(1.3);
}
